@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Kalam:700);
/* line 3, ../sass/style.scss */
body, html {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 7, ../sass/style.scss */
header {
  width: 100%;
  height: 55px;
  background: #3e78ad;
  color: #FFF;
  position: absolute;
  top: 0;
  z-index: 9;
}

header h1{
  font-size: 50px;
  font-family: 'Kalam', cursive;
  margin: 0px;
}

/* line 370, ../sass/style.scss */
section#login {
  background: rgba(255, 255, 255, 0.9);
  width: 330px;
  min-height: 320px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -165px;
  margin-top: -160px;
  text-align: center;
  box-shadow: 0 0 5px gray;
}
/* line 382, ../sass/style.scss */
section#login header {
  position: relative;
  width: 100%;
  height: 75px;
}

section#login header h1{
  padding-top: 15px; 
}

/* line 397, ../sass/style.scss */
section#login .form-horizontal {
  margin-top: 35px;
  margin-bottom: 25px;
}
/* line 402, ../sass/style.scss */
section#login .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
/* line 407, ../sass/style.scss */
section#login .col-sm-10 {
  padding-left: 0px;
}
/* line 411, ../sass/style.scss */
section#login .form-control {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}
/* line 420, ../sass/style.scss */
section#login .glyphicon {
  color: #9F9F9F;
}
/* line 424, ../sass/style.scss */
section#login .btn-default {
  color: #FFF;
  background-color: #3e78ad;
  border: none;
  text-transform: uppercase;
  padding: 8px 35px;
  margin-t4p: 10px;
 
}
/* line 433, ../sass/style.scss */
section#login a {
  color: #3e78ad;
  text-decoration: none;
}

/* line 439, ../sass/style.scss */
.background {
  background: url(../img/background.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  overflow: hidden;
  filter: grayscale(100%) opacity(0.5);
}

/* line 370, ../sass/style.scss */
section#kategorije {
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: absolute;
  width: 600px;
  min-height: 400px;
  margin-left: -300px;
  margin-top: -160px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;
  text-align: center;
  box-shadow: 0 0 5px gray;
}
/* line 382, ../sass/style.scss */
section#kategorije header {
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

section#kategorije header{
  padding-top: 15px;
}

section#kategorije header p{
  font-size: 20px;
}

/* line 424, ../sass/style.scss */
section#kategorije .btn-default {
  color: #FFF;
  background-color: #3e78ad;
  border: none;
  text-transform: uppercase;
  padding: 8px 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

section#kategorije .btn-primary {
    width: 100%;
    border-radius: 0px;
}

section#kategorije .btn-group {
    width: 100%;
}

/* line 433, ../sass/style.scss */
section#kategorije a {
  color: #3e78ad;
  text-decoration: none;
}

section#kategorije .thumbnail img {
  min-height: 80px;
}

section#kategorije .row {
  margin: 0px;
}

section#pocetna{
  height:80px;
}

section#pocetna h1{
  font-size: 45px;
}

section#pocetna .input-group{
  width: 100%;
}

section#pocetna .container{
  margin-top: 10px;
}

section#pocetna .profil-btn{
  float:right;
}

section#pocetna .btn-default{
  color: #FFF;
  background-color: #3e78ad;
}

section#novi-post{
  color: #6A6A6A;
  margin-bottom: 20px;
}

section#novi-post h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #3e78ad;
}

section#novi-post .post-forma {
  background: #F1F8FB;
  width: 100%;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  min-height: 455px;
  border-radius: 5px;
}
/* line 640, ../sass/style.scss */
section#novi-post .form-group {
  margin: 12px 10px;
  padding: 12px 12px;
}
/* line 643, ../sass/style.scss */
section#novi-post .form-group textarea {
  width: 100%;
  resize: none;
}
/* line 649, ../sass/style.scss */
section#novi-post .btn-default {
  color: #FFF;
  background-color: #3e78ad;
  border: none;
  float: right;
  text-transform: uppercase;
  padding: 8px 35px;
  margin-top: 10px;
}

section#novi-post .form-control{
  padding: 8px 15px;
  margin: 10px 0px 0px 0px;
  font-size: 15px;
  width: 25%;
}

section#homepage .container{
    margin-top: 20px;
}

section#posts {
  margin-bottom: 115px;
}
/* line 380, ../sass/style.scss */
section#posts .line-title {
  font-size: 12px;
  height: 8px;
  margin: 25px 0px;
  border-bottom: medium double #ebebeb;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 6px;
}
/* line 390, ../sass/style.scss */
section#posts .line-title span {
  background: #FFF;
  padding-right: 15px;
}
/* line 396, ../sass/style.scss */
section#posts .carousel-control {
  width: 0%;
  opacity: 1;
}
/* line 400, ../sass/style.scss */
section#posts .carousel-control .glyphicon {
  top: 30%;
  text-shadow: none;
  color: #FFF;
  background: #BA9955;
}
/* line 408, ../sass/style.scss */
section#posts h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0px;
  color: #31708f;
}
/* line 415, ../sass/style.scss */
section#posts p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 1.7;
}
/* line 421, ../sass/style.scss */
section#posts .read-more {
  width: 100%;
  height: 32px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  text-transform: uppercase;
  line-height: 32px;
  vertical-align: middle;
}
/* line 430, ../sass/style.scss */
section#posts .read-more small {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 12px;
  color: #8a8a8a;
  float: left;
}
/* line 437, ../sass/style.scss */
section#posts .read-more a {
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
  color: #31708f;
  float: right;
}
/* line 446, ../sass/style.scss */
section#posts .post {
  margin-bottom: 26px;
}
/* line 450, ../sass/style.scss */
section#posts .carousel-indicators {
  top: -25px;
  overflow: hidden;
  z-index: -1;
  bottom: 100%;
}
/* line 457, ../sass/style.scss */
section#posts .carousel-indicators .active {
  background-color: #EBEBEB;
}
/* line 461, ../sass/style.scss */
section#posts .carousel-indicators li {
  background-color: rgba(235, 235, 235, 0.6);
  border: none;
}
/* line 467, ../sass/style.scss */
section#posts #popular-posts {
  margin-top: 60px;
  position: relative;
  z-index: 9;
}

/* line 479, ../sass/style.scss */
section#posts .picture {
  position: relative;
}

/* line 549, ../sass/style.scss */
section#posts .category {
  margin-top: -25px;
}
/* line 553, ../sass/style.scss */
section#posts nav {
  padding: 0px;
  text-align: left;
  font-family: "Source Sans Pro",sans-serif;
}
/* line 558, ../sass/style.scss */
section#posts nav a {
  color: #8a8a8a;
  font-size: 12px;
}
/* line 563, ../sass/style.scss */
section#posts nav li {
  padding: 4px;
  margin: 5px;
  transition: background 0.5s ease-in-out;
  min-width: 25px;
  text-align: center;
  display: inline-block;
}
/* line 572, ../sass/style.scss */
section#posts nav li:hover {
  background: #EBEBEB;
}

section#info h3 {
  width: 100%;
  height: 50px;
  color: #31708f;
  background: none;
  border: #31708f 1px solid;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  letter-spacing: 2px;
}

section#info .categories {
  margin: 20px 0px;
  letter-spacing: 1px;
}

section#info .categories ul{
  list-style-type: none;
  padding: 0px;
}

/* line 237, ../sass/style.scss */
section#info .categories ul :last-child {
  border: none;
}
/* line 242, ../sass/style.scss */
section#info .categories li {
  line-height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  border-bottom: #EBEBEB 1px solid;
  padding: 0px 2px;
}
/* line 250, ../sass/style.scss */
section#info .categories a {
  text-decoration: none;
  color: #b2b2b2;
  font-size: 11px;
}

.border {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.border ul{
	margin: 0px;
}