<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>portal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>portal.web.MyServletContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/</param-value>
  </context-param>
  <context-param>
  	<param-name>database</param-name>
  	<param-value>portal</param-value>
  </context-param>
  <context-param>
  	<param-name>user_name</param-name>
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>admin</param-value>
  </context-param>
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>portal.web.Login</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/home</url-pattern>
	</servlet-mapping>
  <servlet>
	<servlet-name>Register</servlet-name>
	<servlet-class>portal.web.Register</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/register</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>Register2</servlet-name>
	<servlet-class>portal.web.RegisterCategories</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Register2</servlet-name>
	<url-pattern>/choose-categories</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>Register3</servlet-name>
	<servlet-class>portal.web.FinishRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>Register3</servlet-name>
	<url-pattern>/finish-registration</url-pattern>
	</servlet-mapping>
<servlet>
	<servlet-name>NewPost</servlet-name>
	<servlet-class>portal.web.NewPost</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>NewPost</servlet-name>
	<url-pattern>/add</url-pattern>
	</servlet-mapping>
</web-app>